{% extends 'base.html.twig' %}
{% block title %}AlphaPar Homepage{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href={{ asset('css/login.css') }}>
{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-center">
                <h1>AlphaPar HomePage</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-6 p-5">
                <div class="row">
                    <div class="col-12">
                        <a href="{{ path('clientList') }}" class="btn btn-primary btn-block">Tableau Client</a>
                    </div>
                </div>
            </div>
            <div class="col-6 p-5">
                <div class="row">
                    <div class="col-12">
                        <a href="" class="btn btn-primary btn-block">Gérer les factures</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}

{% endblock %}
